<html>
  <head>
    <meta charset="utf-8">
    <title>Bitcoin Clientside Simplest Wallet</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/main.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Simplest Wallet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Wallet</a></li>
            <li><a href="#">More...</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



    <!-- main view -->
    <div class="container">
      <div id="app" class="app">

        <ul class="entries list-group">

          <!-- only one wallet -->
          <li class="list-group-item entry" data-id={ id }>
            <div class="panel panel-default">
              <div class="panel-heading">
                Address #1:
              </div>
              <div class="row">
                <div class="panel-body col-xs-10 col-xs-offset-1">
                  <pre>{ address }</pre>
                  <a rv-href="address_blockchain_url">BC</a>
                </div>
              </div>

              <div class="row">
                <div class="panel-balance panel-body col-xs-9 col-xs-offset-1">
                  Balance: <strong>{ balance } satoshi ({ balance_btc } BTC) </strong>
                </div>
                <button class="btn btn-xs balance_check col-xs-1">
                  check
                </button>
              </div>

              <div class="row">
                <div class="panel-body col-xs-10 col-xs-offset-1">

                  <div class="form-group">
                    <div class="row">
                      <label for="wallet_address_to">Recipient address</label>
                      <input name="address_to" type="text" class="form-control" placeholder="Enter bitcoin address" id="wallet_address_to">
                    </div>
                    <div class="row">
                      <label for="amount">Amount</label>
                      <input name="address_to" type="text" class="form-control col-xs-7" placeholder="Enter amount" id="amount">
                      <select name="currency_to" class="form-control col-xs-2">
                        <option>BTC</option>
                        <option>mBTC</option>
                        <option>bits</option>
                      </select>
                      <div class="col-xs-2">{ amountFiat }</div>
                    </div>
                  </div>

                  <button class="btn btn-primary btn-send">
                    Send
                  </button>

                  <div class="space50"></div>
                  <div rv-if="pvtHidden">
                    <button class="btn btn-danger btn-xs reveal-pvt-key">
                      Reveal Private Key
                    </button>
                  </div>
                  <div rv-unless="pvtHidden">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        Private key:
                      </div>
                      <div id="private_key" class="panel-body">
                        <div class="row">
                          <label class="col-xs-2">compressed:</label>
                          <pre   class="col-xs-9">{ privateKey }</pre>
                        </div>
                        <div class="row">
                          <label class="col-xs-2">WIF:</label>
                          <pre   class="col-xs-9">{ privateKeyWIF }</pre>
                        </div>
                      </div>

                      <div rv-if="regenerateEnabled">
                        <button class="btn btn-danger btn-xs regenerate">
                          regenerate
                        </button>
                        <br /><br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </li>

        </ul>
      </div>
      <!--
      <button class="btn btn-primary" id="add-pvt-key">+ New Keypair</button>
      (it will load the same wallet right now)
      -->

      source code: <a href="https://github.com/makevoid/simplest_wallet_bootstrap/blob/master/index.js">makevoid/simplest_wallet_bootstrap @ github</a>
    </div>


    <!-- js -->
    <!-- <script charset="utf-8" type="text/javascript" src="./vendor/zepto.js"></script> -->
    <script charset="utf-8" type="text/javascript" src="./vendor/jquery.js"></script>
    <script charset="utf-8" type="text/javascript" src="./bundle.js"></script>
  </body>
</html>
